---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "./index.css";
---

<Layout title="Cuenta Atrás">
  <script>
  import yipeeGif from '../../public/yipee.gif';

    // handling the countDown
    setInterval(generateCountdownText, 1000);
    
    function generateCountdownText(): void {
      const countDownDate = new Date("Jul 27, 2024 11:15:00").getTime();
    
      const now = new Date().getTime();
      
      const countDown = document.getElementById("countDown");
      
      if (countDownDate > now) {
        const distance = countDownDate - now;
    
        if (countDown) {
          countDown.innerText = 
          Math.floor(distance / (1000 * 60 * 60 * 24)) +
          "d " +
          Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) +
          "h " +
          Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)) +
          "m " +
          Math.floor((distance % (1000 * 60)) / 1000) +
          "s "
        }
      } else {
        if (countDown) {
          countDown.innerText = "Ya he llegado!!!!";
        }
      }
    }
    
    const yipee = document.getElementById("yipee")
    if (yipee) {
      yipee.addEventListener("click", handleClick);
    }

    // summon the yippe
    function handleClick () {
      const main = document.getElementById("main")
      if (main) {
        const img = document.createElement('img')
        img.src = yipeeGif.src
        img.style.position = 'fixed'
        img.style.top = (5 + Math.floor(Math.random() * 81)).toString() + '%';
        img.style.left = (5 + Math.floor(Math.random() * 81)).toString() + '%';
        img.style.width = '10%'
        main.appendChild(img)
        setTimeout(() => {
          img.remove()
        }, 1000);
      }
    }

  </script>
  <main id="main">
    <div class="content">
      <h1>Cuenta atras hasta que llegue!</h1>
      <h2 id="countDown"></h2>
      <button id="yipee" role="button"><p>YIPEEEEE</p></button>
    </div>
  </main>
</Layout>
